<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}"

    <title>ExpressLib</title>
    <style>
        {% comment %} table, tr, th, td {
            border: 1px solid black;
        } {% endcomment %}
        th, td {
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<body>
    {% include 'admin-navbar.html' %}

    {% block content %}
    
    {% endblock content %}
</body>
</html>